{% extends 'base.html.twig' %}

{% block title %}Survivor
	{{survivor.name}}
{% endblock %}

{% block body %}
	<div class="flex p-3">
		<table class='ml-3'>
			<tr>
				<th>Name</th>
				<td>{{survivor.name}}</td>
			</tr>
		</table>
	</div>
{% endblock %}
