<nav class="bg-stone-800 border-solid border-b-4 border-b-gray-100 py-6">
	<div class="container mx-auto flex flex-wrap items-center justify-between">
		<a href="#" class="flex">
			<span class="self-center font-semibold whitespace-nowrap text-stone-300 text-2xl">The Walking Dead</span>
		</a>
		<div class="hidden md:block w-full md:w-auto" id="mobile-menu">
			<ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
				<li><a href="#" class="text-stone-300 md:bg-transparent block pl-3 pr-4 py-2 md:text-stone-50 md:p-0 rounded" aria-current="page">Home</a></li>
				<li><a href="#" class="text-stone-300 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-stone-50 md:p-0">Survivors</a></li>
				<li><a href="#" class="text-stone-300 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-stone-50 md:p-0">About</a></li>
			</ul>
		</div>
	</div>
</nav>
